<section class="hero">

  <div class="hero-left">
    <h1>RideShare</h1>
    <h2>A Carpooling Platform</h2>
    <p class="hero-desc">
      Share rides, save money, reduce traffic and travel together towards a better tomorrow.
    </p>
    <ul class="hero-features">
      <li><span class="icon"><i class="fa-solid fa-users"></i></span>Connect with verified drivers and passengers</li>
      <li><span class="icon"><i class="fa-solid fa-user-shield"></i></span>Safe, reliable and affordable rides</li>
      <li><span class="icon"><i class="fa-regular fa-lightbulb"></i></span>Travel to your destination comfortably</li>
      <li><span class="icon"><i class="fa-solid fa-leaf"></i></span>Reduce carbon footprint and go green</li>
    </ul>
    <div class="hero-buttons">
      <button routerLink="/login" class="find-rides" ><i class="fa-solid fa-magnifying-glass"></i>Find Rides</button>
      <button routerLink="/login" class="offer-ride outline"><i class="fa-solid fa-car"></i>Offer a Ride</button>
    </div>
  </div>

  <div class="hero-right">
    <img src="assets/images/rideshare-banner.png" alt="RideShare">
  </div>

</section>