<section class="works">

  <h2>How It Works</h2>

  <div class="steps">

    <div class="step">
      <span class="icon"><i class="fa-solid fa-1"></i></span>
      <h3>Register</h3>
      <p>Create an account.</p>
    </div>

    <div class="step">
      <span class="icon"><i class="fa-solid fa-2"></i></span>
      <h3>Offer/Search Ride</h3>
      <p>Post or find rides.</p>
    </div>

    <div class="step">
      <span class="icon"><i class="fa-solid fa-3"></i></span>
      <h3>Book Ride</h3>
      <p>Reserve your seat.</p>
    </div>

    <div class="step">
      <span class="icon"><i class="fa-solid fa-4"></i></span>
      <h3>Travel Together</h3>
      <p>Enjoy the journey.</p>
    </div>

  </div>

</section>