.features {
  padding: 10px;
  margin: 0;
  text-align: center;
  background: #f8fafc;
}

.features h2 {
  font-size: 32px;
  color: #0f172a;
  margin-bottom: 12px;
  font-weight: 700;
}

.features h2::after {
  content: '';
  display: block;
  width: 75px;
  height: 4px;
  background: #2563eb;
  margin: 16px auto 0;
  border-radius: 10px;
}

.feature-cards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  background: white;
  border-radius: 22px;
  padding: 20px;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(30,41,59,0.1);
}

.card:hover {
  transform: translateY(-10px);
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #e6f0ff;
  margin-right: 10px;
  box-shadow: 0 1px 2px rgba(30,41,59,0.04);
  padding: 14px;
}

.icon i {
  font-size: 24px;
}

.blue {
  background: #e0ecff;
}

.green {
  background: #dff7e8;
}

.purple {
  background: #ede6ff;
}

.yellow {
  background: #fff5d6;
}

.red {
  background: #ffe2e2;
}

.darkblue{
  color: #2563eb;
}

.darkgreen{
  color: #16a34a;
}

.darkpurple{
  color: #7c3aed;
}

.darkyellow{
  color: #f59e0b;
}

.darkred{
  color: #dc2626;
}

.card h3 {
  font-size: 24px;
  color: #1d3b8b;
  margin-bottom: 18px;
}

.card p {
  font-size: 16px;
  color: #475569;
  line-height: 1.6;
}