<section class="features">

  <h2>Features</h2>

  <div class="feature-cards">

    <div class="card">
      <span class="icon blue"><i class="darkblue fa-solid fa-car-side"></i></span>
      <h3>Offer Ride</h3>
      <p>Publish ride details and fill empty seats.</p>
    </div>

    <div class="card">
      <span class="icon green"><i class="darkgreen fa-solid fa-magnifying-glass"></i></span>
      <h3>Search Rides</h3>
      <p>Find rides based on source and destination.</p>
    </div>

    <div class="card">
      <span class="icon purple"><i class="darkpurple fa-solid fa-calendar-days"></i></span>
      <h3>Book Ride</h3>
      <p>Book seats quickly and easily.</p>
    </div>

    <div class="card">
      <span class="icon yellow"><i class="darkyellow fa-solid fa-clipboard-list"></i></span>
      <h3>View Bookings</h3>
      <p>Manage current and previous bookings.</p>
    </div>

    <div class="card">
      <span class="icon red"><i class="darkred fa-solid fa-user-shield"></i></span>
      <h3>Secure Platform</h3>
      <p>Safe and trusted ride sharing.</p>
    </div>

  </div>

</section>