.footer {
  background: #1e293b;
  padding: 14px;
  text-align: center;
  margin-top: 40px;
}

.footer .footer-header {
  margin-bottom: 30px;
}

.footer .footer-header h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}
.footer .footer-header p {
  color: #cbd5e1;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer .join-now {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.footer .join-now i {
  margin-right: 8px;
  font-size: 18px;
}

.footer h3 {
  color: white;
  font-size: 38px;
  margin-bottom: 10px;
}

.footer p {
  color: #cbd5e1;
  font-size: 16px;
}